<div class="container">
  <h1>Unit Test Demo</h1>
  <div class="row">

    <section>

      <hello-world name="{{name}}"></hello-world>

      <input type="text" ng-model="newLabel"/> <button type="button" class="btn btn-default" ng-click="addItem(newLabel)">Log Hours</button>
      <p>Enter name of person to log hours</p>

      <h2>{{newLabel}}</h2>

    </section>

    <section>

      <ul class="todo-list">
        <li ng-repeat="i in items">
          <p>ID: {{i.id}}</p>
          <p>Label: {{i.label}}</p>
          <p>Hours Worked: {{i.hoursWorked}}</p>
        </li>
      </ul>

    </section>

  </div>

</div>
